* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  list-style: none;
  box-sizing: border-box;
}

.display__layout {
  background-color: #ebebed;
  padding: 100px;
  min-height: 100vh;
}

.display__contents {
  background-color: #ffffff;
  padding: 80px 120px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.header__title {
  font-size: 2.5rem;
  font-weight: 800
}

.header__social__links {
  display: flex;
  align-items: center;
}

.social__link {
  margin-left: 15px;
}

.social__link__img {
  width: 40px;
  height: 40px;
}

.introduction {
  margin-bottom: 60px;
}

.introduction__title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.introduction__detail {
  display: grid;
  grid-template-columns: 1fr 300px;
}

.introduction__aboutme {
  font-size: 1.3rem;
  font-weight: 350;
  padding-right: 2rem;
}

.introduction__idPhoto {
  display: flex;
  justify-content: flex-end;
}

.introduction__idPhoto img {
  border-radius: 1rem;
}

.introduction__aboutme {
  line-height: 2rem;
}

.idPhoto {
  height: 300px;
}

.projects {
  margin-bottom: 4rem;
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
}

.projects__title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.project__img img {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.project__title {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.project__external__link {
  margin: 0 0.5rem;
}

.project__description {
  font-size: 1.1rem;
  color: #a1a1a3
}

.education-and-interests__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
}

.education__container__title, .interest__container__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.education, .interest {
  margin-bottom: 1.5rem;
}

.education__title, .interest__title {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.education__period {
  color: #a1a1a3
}

.interest-items {
  font-size: 1.2rem;
  font-weight: 350;
  margin-bottom: 0.5rem;
}